body {
    background-color: rgb(196, 181, 181);
    font-family: "Nunito Semibold";
    text-align: center;
}

/* Title and subtitle style*/
h1,h2 {
    margin: 0;
    padding: 11px;
    text-align: center;
    margin: 5px auto;
    background-color: grey;
    border: 1px solid grey;
    width: 600px;
    border-radius: 20px;
}
/* Main Page content */
#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* There is need to remeber that the gap is obsolete/przestarzały so can not work properly */
    max-width: 960px;
    margin: 0 auto;
}
#content div {
    background-color: #3bbced;
    padding: 30px;
}
#content div:nth-child(even) {
    background-color: #777;
}
/* Nested element grids */
.nested {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-column: span 3; /* That solution will include whole the main element with sub element inside */
}
.nested p {
    padding: 20px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: crimson;
}
.nested p:nth-child(even) {
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgb(73, 133, 45);
}
/* Alinging and justyfying */
#content1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px; /* There is need to remeber that the gap is obsolete/przestarzały so can not work properly */
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid #fff;
    /* Align items is equal to vertical align of content */
    /*align-items: start; /* Sets content to the top of main element */
    /*align-items: end; /* Set content to the bottom of main element */
    /*align-items: center; /* Set content to the center of main element */
    /* Justify items is equal to horizontal align of content */
    /*justify-items: start; /* Sets elements to the left /on the beggining/ side of main element */
    /*justify-items: end; /* Sets elements to the right /on the end/ side of main element */
    /*justify-items: center; /* Sets elements to the center /in the middle/ of main element */
    /*justify-items: stretch; /* It streches all the sub elements in the main content */
    /* The commands below will set the sub element in the center top of main element */
    /*align-items: center; */
    /*justify-items: start; */
    /* As we can see we can connect these two commands to set our subelements/elemets of grid net in a specified position of the page.+ */
}
#content1 div {
    border: 1px solid #fff;
    background-color: #3bbced;
    padding: 30px;
}
#content1 div:nth-child(even) {
    background-color: #777;
}
/* Separate elements and justyfying and their alinging */
/* As same as in alinging items as same in alinging self/singular elements, we czn connect the two methods to set them in specified position  */
.one {
    justify-self: start;
    align-self: center
}
.two {
    justify-self: end;
    align-self: auto;
}
.three {
    justify-self: center
}
.four {
    align-self: start;
}
.five {
    align-self: end;
}
.six {
    align-self: center;
}
